<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <header>
    <% include ../partials/header%>
  </header>
  <section>
  <h1>Bienvenue chez la promo 7 !!!</h1>
  <div class="photo-promo">
    <img src="/img/photo_promo7.jpg" alt="#">
  </div>
  <div class="btns">
    <div class="btn users">
      <a href="/users">
          Plus d'info sur les apprennants!!
        </a>
    </div>
    <div class="btn projects">
      <a href="/projects">
          Plus d'info sur les projets!!
        </a>
    </div>
  </div>
  </section>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>
