<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/projet.css">
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <section class="projet">
      <p><%= projects[id].name %></p>
      <a href="<%= projects[id].githubUrl %>" ><p class="projet"><%= projects[id].githubUrl %></a></p>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
