<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/projectsList.css">
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <section class="projects-list">
      <h2>Voici la liste de tous nos projets : </h2>
        <ul>
        <% projects.map( (project) => { %>
          <li>
            <a href="/projects/<%= project.id %>"><%= project.name %></a>
          </li>
        <% }); %>
      </ul>
    </section>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
