<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/userProjects.css">
  </head>
  <body>
    <header>
      <% include ../partials/header %>
      <a href="/users/<%= userId %>">
        <div class="btn-back">
        Retour
        </div>
      </a>
    </header>

    <section class="projectUser-container">
      <% projects.map( (project) => { %>
        <a href="<%= project.githubUrl %>"><p><%= project.name %></p></a>
      <% }) %>
    </section>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
