<div>
  <a href="/"><img style="width:180px; position:absolute; top:0px; left:20px; z-index:-5" src="http://mcetv.fr/wp-content/uploads/2015/03/Simplon-recrute-sa-3%C3%A8me-promo-%C3%A0-Montreuil-e1426180721133.png" alt="#"></a>
</div>
